body{
    background-color: #BEE9E8;
}
.game-container {
    display: flex;
           justify-content: center;
           align-items: center;
    .cardGrid{

        display: grid;
        grid-template-columns: repeat(4, 120px);
        grid-gap: 8px;
    }
    .card {
        height: 120px;
        width:85px;
        font-size: 36px;
        font-weight: bold;
        position: relative;
        transform-style: preserve-3d;
        transition: all 0.2s;
        user-select: none;
        .card-front,
        .card-back {
           display: flex;
           justify-content: center;
           align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            backface-visibility: hidden;
            height: 100%;
            border-radius: 10px;
            border: 2px solid #ffffff;
        }

        .card-front {
            transform: rotateY(180deg);
            background-color: #1B4965;
            color: #CAE9FF;
            z-index: 2;
        }

        .card-back {
            background-color: #62B6CB;

            transform: rotateY(0);
            z-index: 1;
        }
    }

    .card.active {
        transform: rotateY(180deg);
    }
}